body {
    font-family: 'Courier';
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    display: flex;
}

#addCard {
    background: none;
    border: none;
    font-size: 40px;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 80vw;
    height: 70vh;
    background-color: rgb(30, 30, 30);
}

.row {
    display: flex;
    width: 100%;
    background-color: rgb(56, 56, 56);
}

.label {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    align-items: center;
    height: 100%;
    width: 120px;
    max-width: 200px;
    background-color: green;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100px;
    background-color: white;
}

#bank {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 300px;
    background-color: rgb(30, 30, 30);
    margin-bottom: 20px;
}


/* download button */
#download {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
}

#download:hover {
    background-color: #45a049;
}